.main-container{
    width: 100%;
    border-radius: 1rem;
    background-color: #cb202e76;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    color: rgba(255, 255, 255, 0.751);
  }
  .header{
    display: flex;
    width: 50%;
    height: 5rem;
  
    align-items: center;
    font-weight: 500;
  justify-content: space-around;
  
  }
  .rel, .brands{
    text-decoration: none;
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  
  input[type=text] {
    background: none;
    border-radius: 1rem solid white;
    font-size: 16px;
     border: none;
    padding: 10px 5px 10px 20px;
    outline: none;
   
  }
  ::placeholder{
    color: rgba(255, 255, 255, 0.705);
    font-size: .8rem;
  }
  .searchbar{
    padding-right: 5px;
    border-radius: 1rem;
    border: 1px solid rgb(255, 255, 255);
  }
  
  @media (max-width: 1050px) {
    .header{
      width:100%;
    }
  }
  @media (max-width: 550px){
    .header .rel{
    display: none;
    }
    .header .brands{
      display: none;
    }
  }
  .data-fetch{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    margin-left: 3.5rem;
    margin-right: 3.5rem;
  
  }
  @media (max-width:1286px){
    .data-fetch{
        margin-left: 1rem;
        margin-right: 1rem;
    }
  }